
body .submit-event {
    background-color: rgb(96, 187, 218);
    color: black;
    font-size: 20px;
    margin: 5px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

body .submit-event:hover {
    background-color: rgb(49, 175, 218);
}

body .find-event {
    background-color: rgb(96, 187, 218);
    color:black;
    font-size: 20px;
    margin: 5px;
    margin-bottom: 25px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

body .find-event:hover {
    background-color: rgb(49, 175, 218);
}

#headline {
    margin: auto;
    text-align: center;
    color: black;
    font-size: 50px;
    background-color: rgb(140, 210, 233);
    /* background-color: black; */
    width: 100%;
}

#tagline {
    margin: auto;
    text-align: center;
    color: black;
    padding-bottom: 15px;
    background-color: rgb(140, 210, 233);
    /* background-color: black; */
    font-size: 15px;
}

#headline :nth-child(2){
    color: red;
    text-shadow: 1px 1px black;
}

/* #headline :nth-child(2) :nth-child(1) {
    color: purple;
} */

/* #headline :nth-child(3){
    color: orange;
    text-shadow: 1px 1px black;
}
#headline :nth-child(4){
    color: yellow;
    text-shadow: 1px 1px black;
}
#headline :nth-child(5){
    color: green;
    text-shadow: 1px 1px black;
}
#headline :nth-child(6){
    color: blue;
    text-shadow: 1px 1px black;
}
#headline :nth-child(7){
    color: violet;
    text-shadow: 1px 1px black;
}  */

#main-div {
    margin: auto;
    text-align: center;
    background-color: whitesmoke;
    border-color: lightslategray;
    border-style: double;
}

#small-banner {
    margin: 0px;
    padding: 5px;
}

@keyframes yas {

}

.submit-popup {
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .container {
    max-width: 300px;
    padding: 5px;
    background-color: white;
  }

  .container input[type=text] {
    width: 80%;
    padding: 15px;
    margin: 2px 0 10px 0;
    border: none;
    background: #f1f1f1;
    font-weight: bold;
  }

  .container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }

  #submit-deetz {
    font-size: 25px;
    margin-top: 0px;
    /* visibility: hidden; */
  }

  #submit-thanks {
      margin: 3px;
  }

  #performer, #venue, #address, #date, #time, #cover{
    font-weight: bold;
  }

  #send-info {
      background-color: rgb(6, 155, 6);
      font-size: 16px;
      border-radius: 5px;
      color: white;
      padding: 5px;
  }

  #send-info:hover {
      background-color: rgb(5, 131, 5);
  }

  #submit-close {
      color: red;
      margin-top: 5px;
  }

  /* BOTTOM LEFT VERSION 
  .search-popup {
    position: fixed;
    bottom: 0;
    border: 3px solid #f1f1f1;
    z-index: 1;
    border-color: rgb(96, 187, 218);
    border-style: outset;
  }
  */

  .search-popup {
    width: 50%;
    margin: auto;
    position: relative;
    border: 3px solid #f1f1f1;
    /* z-index: 1; */
    /* border-color: rgb(96, 187, 218);
    border-style: outset; */
  }

  /* BOTTOM LEFT VERSION 
  .search-container {
    max-width: 300px;
    padding: 5px;
    background-color: white;
  }
  */
  .search-container {
    padding: 5px;
    background-color: lightgray;
  }

  .search-container #search-city input[type=text] {
    width: 25%;
    padding: 5px;
    margin: 2px 0 10px 0;
    border: none;
    background: #f1f1f1;
    font-weight: bold;
  }

  .search-container #search-city input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }

  .search-container #search-field input[type=text] {
    width: 30%;
    padding: 5px;
    margin: 2px 20px 20px 20px;
    border: none;
    background: #f1f1f1;
    font-weight: bold;
  }

  .search-container #search-field input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }

  #search-deetz {
      margin: 0;
  }

  #search-close {
      color: black;
  }

  #refine {
      margin-top: 5px;
      margin-bottom: 0px;
  }

  #try-again {
    text-align: center;
  }

  .reset {
      background-color: white;
      color: black;
      border-color: red;
      margin-bottom: 10px;
      border-radius: 5px;
      margin-top: 10px;
      font-size: 15px;
  }

  .result-box {
        padding: 5px;
        margin: 5px 5px 13px 10px;
        position: relative;
        margin: auto;
        font-size: .9em;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
        text-align: center;
        margin-top: 20px;
        /* float:left; */
        width: 75%
        
  }


  #performer-name {
      font-size: 20px;
  }

  #header-bar-bar {
    margin: auto;
    text-align: center;
    color: black;
    background-image: url('https://www.pngkey.com/png/detail/498-4983990_header-menu-cartoon-drag-queen-eyes.png');
    background-size: 100px;
    background-repeat: repeat-x;
    width: 100%;
  }

  img {
      max-width: 100px;
      max-height: 150px;
  }

  #hidden {
     visibility: hidden;
  }

  #tip {
    position: absolute;
    right: 5px;
    top: 0;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  #footer-bar-bar {
    margin: auto;
    text-align: center;
    color: black;
    background-image: url('https://www.pngkey.com/png/detail/498-4983990_header-menu-cartoon-drag-queen-eyes.png');
    background-size: 100px;
    background-repeat: repeat-x;
    width: 100%;
    bottom: 0;
  }

  #shows-in {
      margin-bottom: 0px;
  }

  #exists-already-box {
    padding: 5px;
        width:30%;
        margin: 5px 5px 13px 10px;
        position: relative;
        margin: auto;
        font-size: .9em;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
        text-align: center;
        margin-top: 20px;
  }

  
  .google-map {
    width: 50%;
    height: 50vh;
    margin: auto;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 180px;
    color: black;
  }
  
  .pin-icon {
    font-size: 4rem;
  }
  
  .pin-text {
    font-size: 1.3em;
  }
  
  /* @media screen and (min-width: 799px) {
    .google-map {
      height: 80vh;
    }
  
    .map-h2 {
      font-size: 1.3rem;
      font-weight: 400;
    }
  
    .pin {
      width: 15vw;
    }
  
    .pin-icon {
      font-size: 10vw;
    }
  } */

